@model BookingApplication.Models.Cinema
@{
    ViewData["Title"] = "DeleteCinema";
    IEnumerable<int> ids = ViewData["CinemaIds"] as IEnumerable<int>;
}

<div class="container w-50 text-center">
    <h1 class="display-4">Delete Cinema</h1>
    <form style="margin-top: 13rem" asp-controller="Cinema" asp-action="DeleteCinema" method="post">

        <select class="form-control" asp-for="Id"
                asp-items="@(new SelectList(ids))">
            <option>Please select Cinema id</option>
        </select>

        <button style="margin-top: 3rem" type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>