@model BookingApplication.Models.Restaurant
@{
    ViewData["Title"] = "UpdateRestaurant";
    IEnumerable<int> ids = ViewData["RestaurantIds"] as IEnumerable<int>;
}

<div class="container w-50 text-center">
    <h1 class="display-4">Update Restaurant</h1>
    <form style="margin-top: 13rem" asp-controller="Restaurant" asp-action="UpdateRestaurant">

        <select class="form-control" asp-for="Id"
                asp-items="@(new SelectList(ids))">
            <option>Please select Restaurant id</option>
        </select>
        <div class="form-group" style="margin-top: 2rem">
            <label for="RestaurantName">New Restaurant Name</label>
            <input class="form-control" type="text" asp-for="Name">
        </div>
        <div class="form-group">
            <label for="RestaurantImage">New Image Path</label>
            <input class="form-control" type="text" asp-for="ImgPath">
        </div>
        <button style="margin-top: 3rem" type="submit" class="btn btn-primary">Update</button>
    </form>
</div>